body {
    font-family: 'Noto Sans KR', sans-serif;
}

#wrap {
    width: 100%;
    overflow: hidden;
}

/* 상단 */
#header {
    position: fixed;
    width: 100%;
    height: 100px;
    z-index: 9999;
    background-color: #fff;
}

#header_in {
    width: 80%;
    height: 100px;
    margin: 0 auto;
}

#header_in .logo {
    float: left;
    margin: 40px 0 0 40px;
}

#header_in .nav {
    float: left;
    width: 50%;
    margin-left: 15%;
    background-color: #fff;
}

#header_in .nav ul {
    height: 100px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#header_in .nav li {
    position: relative;
}

#header_in .nav a {
    font-size: 16px;
    font-weight: bold;
    color: rgb(152, 152, 152);
}

#header_in .nav a:hover {
    color: #000;
}

#header_in .nav .sub {
    display: block;
    position: absolute;
    left: -50px;
    width: 170px;
    height: 170px;
    padding-top: 30px;
    background-color: #fff;
    border-bottom: 2px solid rgb(226, 226, 226);
}

#header_in .nav .sub1 {
    border-left: 2px solid rgb(226, 226, 226);
}

#header_in .nav .sub5 {
    border-right: 2px solid rgb(226, 226, 226);
}

#header_in .sub li {
    float: left;
    position: relative;
    left: 50px;
    width: 115px;
    height: 40px;
    z-index: 999;
}

#header_in .sub a {
    font-size: 14px;
    font-weight: bold;
    color: rgb(165, 165, 165);
}

#header_in .sub a:hover {
    color: #000;
}

#header_in .info {
    float: right;
    width: 17%;
    margin-right: 2%;
}

#header_in .info ul {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#header_in .info li {
    width: 65px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    border: 2px solid#000;
    border-radius: 20px;
    transition: all 1s;
}

#header_in .info li:hover {
    background-color: #000;
    color: #fff;
}

#header_in .info a {
    display: block;
    font-size: 14px;
    font-weight: bold;
    transition: all 0.5s;
}

#header_in .info a:hover {
    color: #fff;
}

/* 메인 */
#main {
    width: 100%;
    height: 1000px;
    padding-top: 100px;
    position: relative;
}

#main_img {
    width: 80%;
    height: 800px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}

#main_img ul {}

#main_img li {
    width: 100%;
    position: absolute;
    top: 0;
}

#main_img li.img1 {
    left: 0%;
}

#main_img li.img2 {
    left: 100%;
    top: 5%;
}

#main_img img {
    width: 100%;
}

#main .main_info {
    float: left;
    width: 60%;
    margin: 5px 0 0 110px;
}

#main .main_info ul {
    display: flex;
    justify-content: space-evenly;
}

#main .main_info li {
    font-size: 18px;
    font-weight: bold;
}

#main .main_info img {
    vertical-align: top;
}

#main .main_info span {
    font-size: 18px;
    color: #929292;
    font-weight: bold;
}

#main .sns {
    float: left;
    margin: 0 0 0 130px;
    width: 10%;
}

#main .sns img {
    width: 40px;
    height: 40px;
}

#main .sns ul {
    display: flex;
    justify-content: space-evenly;
}

/* 콘텐츠 */
#content {
    width: 100%;
    height: 3700px;
}

/* 전시 영역 */

#content .poster {
    margin-top: 50px;
}

#content .poster ul {
    display: flex;
    justify-content: space-evenly;
}

#content .poster a {
    transition: all 1s;
}

#content .poster img {
    height: 500px;
}

#content .poster p {
    padding-top: 10px;
    line-height: 25px;
    font-size: 18px;
    font-weight: bold;
}

#content .poster span {
    color: #929292;
}

#content .pos_see {
    float: right;
    position: relative;
    top: 30px;
    left: -110px;
}

#content .pos_see a {
    font-size: 16px;
    font-weight: bold;
}

/* 소장품 영역 */

#collection {
    width: 100%;
    height: 1300px;
    margin: 0 auto;
    margin-top: 130px;
}

#collection h1 {
    margin-left: 120px;
    font-size: 40px;
    font-weight: bold;
}

.antique_art {
    width: 100%;
}

.antique_art h2 {
    float: left;
    clear: left;
    padding-top: 60px;
    margin-left: 125px;
    font-size: 18px;
    font-weight: bold;
}

.antique_art a {
    float: right;
    padding-top: 60px;
    margin-right: 125px;
    font-size: 16px;
    font-weight: bold;
}

.antique_art ul {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    padding-top: 40px;
}

.antique_art li {
    cursor: pointer;
    transition: all 1s;
}

.antique_art img {
    height: 450px;
}

.contemporary_art {
    width: 100%;
}

.contemporary_art h2 {
    float: left;
    clear: left;
    padding-top: 60px;
    margin-left: 125px;
    font-size: 18px;
    font-weight: bold;
}

.contemporary_art a {
    float: right;
    padding-top: 60px;
    margin-right: 50px;
    font-size: 16px;
    font-weight: bold;
}

.contemporary_art ul {
    display: flex;
    justify-content: space-evenly;
    padding-top: 40px;
    width: 100%;
}

.contemporary_art li {
    cursor: pointer;
    transition: all 1s;
}

.contemporary_art img {
    height: 450px;
}

/* 베너 영역 */

#benner {
    position: relative;
    width: 100%;
    height: 250px;
    padding: 100px 0;
}

.benner_area {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 150px;
}

.benner_area li {
    position: absolute;
    top: 0;
    width: 100%;
    height: 265px;
    cursor: pointer;
}

.benner_area li:nth-child(1) {
    top: 0;
}

.benner_area li:nth-child(2) {
    top: 530px;
}

.benner_area li:nth-child(3) {
    top: 795px;
}

#benner img {
    width: 100%;
}

.benner_btns {
    margin: 0 auto;
    padding-top: 30px;
    width: 180px;
}

.benner_btns ul {
    display: flex;
    justify-content: space-evenly;
}

.benner_btns li {
    width: 15px;
    height: 15px;
    background-color: #ccc;
    border-radius: 50%;
    cursor: pointer;
}

.benner_btns li.on {
    background-color: #000;
}

/* 프로그램, 공지사항 영역 */
#con_b {
    margin: 0 auto;
    margin-top: 0px;
    width: 100%;
    height: 500px;
}

#program {
    float: left;
    width: 45%;
    margin-left: 50px;
}

#program h1 {
    float: left;
    margin-left: 35px;
    font-size: 25px;
    font-weight: bold;
}

#program a {
    float: right;
    font-size: 16px;
    font-weight: bold;
}

#program img {
    width: 100%;
    margin-top: 30px;
}

#program p {
    float: left;
    margin: 10px 0 0 30px;
    font-size: 18px;
    font-weight: bold;
}

#notice {
    float: left;
    width: 45%;
    margin-left: 70px;
}

#notice h1 {
    float: left;
    font-size: 25px;
    font-weight: bold;
}

#notice a {
    float: right;
    margin-right: 50px;
    font-size: 16px;
    font-weight: bold;
}

#notice ul {
    float: left;
    clear: left;
    margin-top: 30px;
}

#notice li {
    margin-top: 20px;
    font-weight: bold;
    font-size: 18px;
}

#notice li:first-child {
    margin-top: none;
}

#map {
    width: 100%;
    height: 500px;
    margin: 0 auto;
    padding-top: 100px;
}

#road {
    float: left;
    width: 45%;
    height: 500px;
    margin-left: 5%;
}

#road h1 {
    font-size: 20px;
    font-weight: bold;
}

#road iframe {
    width: 600px;
    height: 400px;
    margin-top: 50px;
}

#in_map {
    float: left;
    width: 45%;
    height: 500px;
    margin-left: 0;
}

#in_map h1 {
    font-size: 20px;
    font-weight: bold;
}

#in_map img {
    margin-top: 50px;
    width: 100%;
    height: 400px;
}

/* 하단 */
#footer {
    width: 100%;
    height: 250px;
    background-color: #000;
}

#footer_in {
    width: 100%;
    height: 250px;
    margin: 0 auto;
}

#footer .logo {
    float: left;
    padding-top: 100px;
    margin-left: 20px;
}

#footer .logo h1 {
    font-size: 30px;
    font-weight: bold;
    color: #fff;
}

#footer .adress {
    float: left;
    width: 35%;
    padding-left: 25px;
    margin-top: 0px;
}

#footer .adress li {
    margin-top: 5%;
    color: #999;
    font-size: 14px;
    font-weight: bold;
}

#footer .adress li a {
    color: #999;
}

#footer .q_mn {
    float: left;
    margin: 30px 0 0 0px;
    width: 41%;
    height: 170px;
}

#footer .q_mn1 {
    float: left;
    padding-right: 8%;
}

#footer .q_mn1 li {
    margin-top: 10%;
    font-size: 14px;
    font-weight: bold;
    color: #999;
}

#footer .q_mn1 li a {
    color: #999;
}

#footer .q_mn2 {
    float: left;
    padding-right: 8%;
}

#footer .q_mn2 li {
    margin-top: 10%;
    font-size: 14px;
    font-weight: bold;
    color: #999;
}

#footer .q_mn2 li a {
    color: #999;
}

#footer .q_mn3 {
    float: left;
}

#footer .q_mn3 li {
    margin-top: 10%;
    font-size: 14px;
    font-weight: bold;
    color: #999;
}

#footer .q_mn3 li a {
    color: #999;
}

#footer .copy {
    float: left;
    margin-left: 0px;
}

#footer .copy p {
    font-size: 14px;
    font-weight: bold;
    color: #999;
}

#footer .family {
    float: right;
    display: table;
    width: 10%;
    height: 30px;
    margin: 0 20px 0 0;
    text-align: center;
    border: 1px solid #999;
}

#footer .family p {
    display: table-cell;
    vertical-align: middle;
    font-size: 14px;
    font-weight: bold;
    color: #999;
}